@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.header{
    width: 100%;
    height: 20vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}

nav ul li{
    display: inline-block;
    margin-right: 25px;

}

nav li a{
    color: #42220c;
    font-weight: 600;
}

nav{
    margin-right: 35%;

}

.icon{
    font-size: 30px;

}



.container .box{
    width: 500px;
    height: 500px;
    margin-top: -60px;
    position: relative;
}

.container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    margin-left: 410px;

}


    
